/* *{
border: 3px solid black;
} */

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navbar */
.navbar{
  height:20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #363636;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown{
  position: absolute;
  top: 55px;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.pages{
  color: white;
  background-color: #363636;
  text-decoration: none;
  margin: 5px;
  padding: 10px 100px;
  font-weight: bold;
  border-radius: 10px;
}

.pages:hover{
  background-color: #727272 ;
}

.logo{
  width: 40px;
  margin: -10px;
}

/* Login and Signup */

.login-align{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.link-btn-chosen{
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.link-btn{
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background-color: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 100px;
}

.link-btn-chosen:hover{
  background-color: #d1d1d1;
}

.login-signup-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 250px;
  border-radius: 25px; 
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63);
}

.form-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  background-color: #363636 ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  padding-top:20px;
  margin: 20px;
}

.formInput{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border: 2px solid white;
  width: 60%;
  color: white;
  outline: none;
  
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 3px 20px -5px grey;
  font-weight: bold;
  font-size: 15px;
}

.details-btn{
  margin: 15px;
  background-color: #363636;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
}

/* Post Cards */

.post-container{
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.1);
  width: 70%;
  border-radius: 10px;
  padding:30px;
  margin: 10px;
}

.post-align{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


